# Ignore all files by default
*

# Do not ignore specific file types
!*.pas
!*.png
!*.pdf

# Do not ignore specific files
!README.md
!.gitignore

# Do not ignore specific directories
!Models/
!Views/
!Organisation/

# Ignore specific files
test.pas