# Ignorer tous les fichiers
*

# Autoriser les fichiers source Pascal, PNG et PDF
!*.pas
!*.png
!*.pdf

# Ignorer des fichiers source Pascal spécifiques
test.pas

# Autoriser les dossiers d'organisation
!*/
